<nav class="menu">
  <button class="menu__toggle" (click)="toggleMenu()">
    <img src="images/icon_menu.svg" alt="Menú" />
  </button>

  <div class="menu__content" [class.menu__content--open]="isOpen">
    <ul class="menu__list">
      @for (item of menuItems; track $index) {
      <li class="menu__item">
        <img class="menu__icon" [src]="item.icon" [alt]="item.label" />
        <span class="menu__text">{{ item.label }}</span>
      </li>
      }

      <hr class="menu__divider" />
      @for (item of extraItems; track $index) {
      <li class="menu__item">
        <img class="menu__icon" [src]="item.icon" [alt]="item.label" />
        <span class="menu__text">{{ item.label }}</span>
      </li>
      }
    </ul>
  </div>
</nav>
